<footer>
  <div class="bg-dark text-light py-4">
    <div class="container">
      <div class="cursor-default text-center">
        <div class="logo logo-64 mx-auto mb-2"></div>
        <h4 class="font-logo">
          Onsite Web Job
        </h4>
        <h6>Thoải mái như xe nhà - Giá rẻ như xe khách</h6>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <h6>Giới thiệu</h6>
          <hr class="bg-light mr-5">
          <ul class="list-unstyled">
            <li class="my-1"><a href="/frontend/pages/ve-chung-toi.php" class="text-light">Về chúng tôi</a></li>
            <li class="my-1"><a href="/frontend/pages/bao-chi.php" class="text-light">Báo chí</a></li>
            <li class="my-1"><a href="/frontend/pages/tuyen-dung.php" class="text-light">Tuyển dụng</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h6>Chương trình</h6>
          <hr class="bg-light mr-5">
          <ul class="list-unstyled">
            <li class="my-1"><a href="/frontend/pages/doi-tac-kinh-doanh.php" class="text-light">Đối tác kinh doanh</a></li>
            <li class="my-1"><a href="/frontend/pages/doi-tac-van-chuyen.php" class="text-light">Đối tác vận chuyển</a></li>
            <li class="my-1"><a href="/frontend/pages/khach-hang-doanh-nghiep.php" class="text-light">Khách hàng doanh nghiệp</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h6>Chính sách</h6>
          <hr class="bg-light mr-5">
          <ul class="list-unstyled">
            <li class="my-1"><a href="/frontend/pages/van-chuyen.php" class="text-light">Vận chuyển</a></li>
            <li class="my-1"><a href="/frontend/pages/boi-thuong.php" class="text-light">Bồi thường</a></li>
            <li class="my-1"><a href="/frontend/pages/rieng-tu.php" class="text-light">Riêng tư</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h6>Hỗ trợ</h6>
          <hr class="bg-light mr-5">
          <ul class="list-unstyled">
            <li class="my-1"><a href="/frontend/pages/huong-dan-su-dung.php" class="text-light">Hướng dẫn sử dụng</a></li>
            <li class="my-1"><a href="/frontend/pages/cau-hoi-thuong-gap.php" class="text-light">Câu hỏi thường gặp</a></li>
            <li class="my-1"><a href="/frontend/pages/cam-nang-di-lai.php" class="text-light">Cẩm nang đi lại</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center">
        <hr>
        <h6 class="small">Tương tác với chúng tôi</h6>
        <a href="https://www.facebook.com/" class="text-light mx-1" style="font-size: 1.5rem;"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/" class="text-light mx-1" style="font-size: 1.5rem;"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/" class="text-light mx-1" style="font-size: 1.5rem;"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/" class="text-light mx-1" style="font-size: 1.5rem;"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/" class="text-light mx-1" style="font-size: 1.5rem;"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
  <div class="container-fluid py-4 text-center bg-light">
    <i>Sản phẩm này chỉ phục vụ cho hoạt động học tập và nghiên cứu, không phục vụ cho mục đích thương mại.</i><br>
    Mã nguồn mở, Bản quyền &copy; <a href="https://nentang.vn" class="text-dark">Nền Tảng</a>,
    <script>document.write(new Date().getFullYear());</script><br>
    <span class="text-muted">Hành trang tới Tương lai</span>
  </div>
  <button id="scrollTop" class="btn btn-primary shadow m-3"><i class="fas fa-arrow-up"></i></button>
</footer>
