<nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top shadow">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <div class="logo logo-32 mr-1"></div>
    <div class="font-logo text-light m-0">Onsite Web Job</div>
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-1">
        <a class="nav-link" href="/"><i class="fas fa-home mr-1"></i> Trang chủ</a>
      </li>
      <li class="nav-item dropdown mr-1">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-handshake mr-1"></i> Đối tác
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow-sm">
          <a class="dropdown-item" href="/frontend/pages/doi-tac-van-chuyen.php">Đối tác vận chuyển</a>
          <a class="dropdown-item" href="/frontend/pages/doi-tac-kinh-doanh.php">Đối tác kinh doanh</a>
          <a class="dropdown-item" href="/frontend/pages/khach-hang-doanh-nghiep.php">Khách hàng doanh nghiệp</a>
        </div>
      </li>
      {% if session['email'] %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user mr-1"></i> Cá nhân
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow-sm">
          <a class="dropdown-item" href="/frontend/auth/account.php">Thông tin tài khoản</a>
          <a class="dropdown-item" href="/frontend/auth/dashboard.php">Quản lý chuyến đi</a>
          <a class="dropdown-item" href="/frontend/auth/logout.php">Đăng xuất</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/frontend/auth/dang-nhap.php"><i class="fas fa-sign-in-alt mr-1"></i> Đăng nhập</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="nav-item dropdown d-md-none">
    <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bars"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right shadow-sm mt-2 text-right">
      <a class="dropdown-item d-flex justify-content-between align-items-center" href="/">
        <i class="fas fa-home mr-1"></i> Trang chủ
      </a>
      <div class="dropdown-divider"></div>
      <div class="dropdown-header cursor-default d-flex justify-content-between align-items-center">
        <i class="fas fa-handshake mr-1"></i> Đối tác
      </div>
      <a class="dropdown-item" href="/frontend/pages/doi-tac-van-chuyen.php">Đối tác vận chuyển</a>
      <a class="dropdown-item" href="/frontend/pages/doi-tac-kinh-doanh.php">Đối tác kinh doanh</a>
      <a class="dropdown-item" href="/frontend/pages/khach-hang-doanh-nghiep.php">Khách hàng doanh nghiệp</a>
      <div class="dropdown-divider"></div>
      {% if session['email'] %}
      <div class="dropdown-header cursor-default d-flex justify-content-between align-items-center">
        <i class="fas fa-user mr-1"></i> Cá nhân
      </div>
      <a class="dropdown-item" href="/frontend/auth/account.php">Thông tin tài khoản</a>
      <a class="dropdown-item" href="/frontend/auth/dashboard.php">Quản lý chuyến đi</a>
      <a class="dropdown-item" href="/frontend/auth/logout.php">Đăng xuất</a>
      {% else %}
      <a class="dropdown-item d-flex justify-content-between align-items-center" href="/frontend/auth/dang-nhap.php">
        <i class="fas fa-sign-in-alt mr-1"></i> Đăng nhập
      </a>
      {% endif %}
    </div>
  </div>
</nav>
