{% extends "frontend/layouts/layout.html.twig" %}

{% block title %}
Báo chí
{% endblock %}

{% block content %}
<div class="container py-5">
	<form id="form-search">
		<b-form-group label="Tìm kiếm" label-for="input-search">
			<b-input-group size="sm">
				<template v-slot:prepend>
					<b-input-group-text class="group-icon">
						<i class="fas fa-search"></i>
					</b-input-group-text>
				</template>
				<b-form-input v-model="search" id="input-search"></b-form-input>
				<b-input-group-append>
					<b-button :disabled="!search" @click="search = ''" class="group-icon">
						<i class="fas fa-times"></i>
					</b-button>
				</b-input-group-append>
			</b-input-group>
		</b-form-group>
	</form>

	<div class="row row-cols-1 row-cols-lg-3">
		{% for news in newsList %}
		<div class="col my-3">
			<div class="card h-100 shadow-sm">
				<img src="/assets/uploads/news/{{ news.name }}.jpg" alt="" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">{{ news.title }}</h5>
					<p class="card-text">{{ news.shortContent }}</p>
				</div>
				<div class="card-footer text-center">
					<a href="/frontend/pages/bao-chi/{{ news.name }}">Xem thêm</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<ul class="pagination mt-4 justify-content-center">
		<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
		<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
		<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
	</ul>
</div>
{% endblock %}

{% block customscripts %}
<script src="/node_modules/vue/dist/vue.min.js"></script>
<script src="/node_modules/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
<script>
	new Vue({
		el: '#form-search',
		delimiters: ['${', '}'],
		data() {
			return {
				search: null,
			};
		},
	});
</script>
{% endblock %}

{% block customstyles %}
<link rel="stylesheet" href="/node_modules/bootstrap-vue/dist/bootstrap-vue.min.css">
{% endblock %}
