{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Đối Tác Kinh Doanh
{% endblock %}
{# End Nội dung trong block title #}

{% block customstyles %}
<link href="/assets/vendor/slick/slick.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="b-banner b-bussiness-banner block-middle">
    <div class="container">
        <div class="row">
            <div class="col-text col-6" style="display: flex; align-items: center">
                <div class="content">
                    <h2>Đối Tác Kinh Doanh</h2>
                    <p>Với những đơn vị có khách hàng có nhu cầu đi lại cao, hãy hợp tác với chúng tôi để đem lại dịch vụ giá trị gia tăng cho khách hàng, đồng thời hưởng  doanh thu từ những giao dịch thành công.</p>
                </div>
            </div>
            <div class="col-image col-6">
                <img class="img-fluid" style="width: 100%" src="/assets/frontend/img/doitac.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="block b-bussiness-benefit" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="container">
        <div class="block-headder text-center">
            <div class="block-title display-4">Lợi Ích Khi Tham Gia</div>
            <p class="block-sub-title display-5">Một đàu mối đáp ứng đủ các yêu cầu di chuyển mặt đất.</p>
        </div>
        <div class="row">
            <div class="item col-sm-4">
                <div class="wrap">
                    <img src="/assets/frontend/img/image-doi-tac/trucks-icon.1uZijBc.svg" alt="">
                    <h3 class="item-title">Dịch Vụ Đa Dạng</h3>
                    <p>Nhiều loại hình thừ tự lái đến có lái, từ xe 4 chổ cho đến xe 45 chổ.</p>
                </div>
            </div>
            <div class="item col-sm-4">
                <div class="wrap">
                    <img src="/assets/frontend/img/image-doi-tac/city-icon.3ScZzrZ.svg" alt="">
                    <h3 class="item-title">Công Nghệ Hiện Đại</h3>
                    <p>Nền tảng trực tuyến dễ dàng tích hợp, tiết kiệm thời gian.</p>
                </div>
            </div>
            <div class="item col-sm-4">
                <div class="wrap">
                    <img src="/assets/frontend/img/image-doi-tac/city-icon.3ScZzrZ.svg" alt="">
                    <h3 class="item-title">Dộ Phủ Rộng Lớn</h3>
                    <p>Có mặt tại 20 sân bay và hơn 40 tỉnh thành trên cả nước..</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="b-agent-type block-image_single block-align_center">
    <div class="container">
    <div class="block-headder text-center">
        <h2 class="block-title">Hệ Thống Đối Tác Đa Dạng</h2>
        <p class="block-sub-title">Hãy Tham Gia vào mạng lưới đối tác của đi chung</p>
    </div>
    <div class="row">
        <div class="item col-sm-4">
            <div class="wrap">
                <img src="/assets/frontend/img/image-doi-tac/ota.2tniFRj.svg" alt="">
                <h3 class="item-title">Đại lý du lịc trực tuyến.</h3>
            </div>
        </div>
        <div class="item col-sm-4">
            <div class="wrap">
                <img src="/assets/frontend/img/image-doi-tac/airliner.3aAmsxD.svg" alt="">
                <h3 class="item-title">Hãng Hàng Không</h3>
            </div>
        </div>
        <div class="item col-sm-4">
            <div class="wrap">
                <img src="/assets/frontend/img/image-doi-tac/travel-company.1w9eNbE.svg" alt="">
                <h3 class="item-title">Công Ty Lữ Hành</h3>

            </div>
        </div>
        <div class="item col-sm-4">
            <div class="wrap">
                <img src="/assets/frontend/img/image-doi-tac/ticket.Bu-HYE5.svg" alt="">
                <h3 class="item-title">Phòng Vé</h3>

            </div>
        </div>
        <div class="item col-sm-4">
            <div class="wrap">
                <img src="/assets/frontend/img/image-doi-tac/hotel.2EgDMJs.svg" alt="">
                <h3 class="item-title">Nhà Hàng Khách Sạn</h3>
            </div>
        </div>
        <div class="item col-sm-4">
            <div class="wrap">
                <img src="/assets/frontend/img/image-doi-tac/event.2IV81Tx.svg" alt="">
                <h3 class="item-title">Công Ty Tổ Chức Sự Kiện</h3>

            </div>
        </div>      
    </div>
</div>
</div>
<div class="block b-current-agent">
    <div class="container">
        <div class="block-headder text-center">
            <h2 class="block-title">Đối tác Của Chúng Tôi</h2>
            <p class="block-sub-title">Rất nhiều đơn vị tên tuối đã trở thành đối tác của đi chung</p>
        </div>    
        <div class="slick-slider">
            <div>
                <img src="/assets/frontend/img/image-doi-tac/mai-linh-group.Y4Czx_k.png"/>
            </div>
            
            <div>
                <img src="/assets/frontend/img/image-doi-tac/taxi-group.Nyd-y6Z.png"/>
            </div>
            
            <div>
                <img src="/assets/frontend/img/image-doi-tac/thanh-cong-taxi.1oyqPLk.png"/>
            </div>
            
            <div>
                <img src="/assets/frontend/img/image-doi-tac/abay.2WcAdVB.png"/>
            </div>
            
            <div>
                <img src="/assets/frontend/img/image-doi-tac/traveloka_xp.3h4R3sh.png"/>
            </div>
            
            <div>
                <img src="/assets/frontend/img/image-doi-tac/klook.2iq-ihh.png"/>
            </div>
            
          </div>
    </div>
</div>
{% endblock %}

{% block customscripts %}
<script src="/assets/vendor/slick/slick.js"></script>
<script>
    $(document).ready(function(){
        $('.slick-slider').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });
    });
</script>
{% endblock %}