{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Đối Tác Vận Chuyển

{% endblock %}
{# End Nội dung trong block title #}

{% block content %}
<div class="container">
<h2 class="block-title text-center">Lợi ích khi tham gia </h2>
  <div class="container">
        <div class="row">
            <div class="col-image col-6">
                <img class="img-fluid" style="width: 100%" src="/assets/frontend/img/doi-tac-van-chuyen/doitac.jpg" alt="">
            </div>
              <div class="col-text col-6" style="display: flex; align-items: center">
                <div class="content">
                    <h3>Hệ thống chăm sóc khách hàng tiên tiến</h3>
                    <p>Công nghệ trực tuyến của Đi Chung đảm bảo cho các đối tác nhận được đơn hàng liên tục hàng ngày.</p>
                </div>
            </div>
              <div class="col-text col-6" style="display: flex; align-items: center">
                <div class="content">
                <h3>Dễ dàng tiếp cận khách hàng</h3>
                    <p>Bắt kịp xu hướng tiêu dùng công nghệ, tăng khả năng tiếp cận khách hàng thông qua hệ thống trực tuyến của Đi Chung.</p>
                </div>
            </div>
             <div class="col-image col-6">
                <img class="img-fluid" style="width: 100%" src="/assets/frontend/img/doi-tac-van-chuyen/doitac1.jpg" alt="">
            </div>
            <div class="col-image col-6">
                <img class="img-fluid" style="width: 100%" src="/assets/frontend/img/doi-tac-van-chuyen/doitac2.jpg" alt="">
            </div>
              <div class="col-text col-6" style="display: flex; align-items: center">
                <div class="content">
                  <h3>Giảm chi phí vận hành</h3>
                    <p>Tận dụng hệ thống đặt xe trực tuyến của Đi Chung, không mất chi phí đầu tư, bảo trì hệ thống và không cần nhân sự IT chuyên trách.</p>
                </div>
            </div>
              <div class="col-text col-6" style="display: flex; align-items: center">
                <div class="content">
                    <h3>Hệ thống chăm sóc khách hàng tiên tiến</h3>
                    <p>Công nghệ phản hồi và chăm sóc khách hàng tự động cho phép cải thiện chất lượng dịch vụ một cách hiệu quả, nhanh chóng và chính xác.</p>
                </div>
            </div>
             <div class="col-image col-6">
                <img class="img-fluid" style="width: 100%" src="/assets/frontend/img/doi-tac-van-chuyen/doitac3.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container">
<div class="banner">
</div><div class="block-header">
<h2 class="block-title text-center">Đối tác vận chuyển</h2>
</div><div class="block-body"><
p class="width-sm">Không chỉ cung cấp dịch vụ đưa đón cho khách hàng cá nhân tại hơn 40 tỉnh thành trên cả nước, Đi Chung hiện còn đang là đối tác chiến lược cho các đơn vị du lịch đầu ngành trong và ngoài nước như Ctrip, Vntrip, Atadi, Klook, Kkday,... Nguồn cầu tăng trưởng liên tục thúc đẩy chúng tôi không ngừng mở rộng mạng lưới kết nối với các đối tác vận chuyển mới.</p>
<div class="transport-logos">
<div class="row">
<div class="item col-sm-2">
<img src="/assets/frontend/img/doi-tac-van-chuyen/doitac4.png" alt="ThanhCong Taxi">
</div>
<div class="item col-sm-2">
<img src="/assets/frontend/img/doi-tac-van-chuyen/doitac5.png" alt="Taxi Group">
</div>
<div class="item col-sm-2">
<img src="/assets/frontend/img/doi-tac-van-chuyen/doitac6.png" alt="ABC">
</div>
<div class="item col-sm-2">
<img src="/assets/frontend/img/doi-tac-van-chuyen/doitac7.png" alt="Satsco">
</div>
<div class="item col-sm-2"><img src="/assets/frontend/img/doi-tac-van-chuyen/doitac8.png" alt="Nasco">
</div><div class="item col-sm-2"><img src="/assets/frontend/img/doi-tac-van-chuyen/doitac9.png" alt="Climate innovation Center">
</div>
</div>
</div>
</div>
</div>
<div class="container"><div class="block-body"><div class="row"><div class="item col-sm-6"><h3 class="block-title text-center">Cách tham gia</h3><div class="content"><p><strong>1.</strong> Đăng ký tham gia cách điền vào Form Đăng ký làm đối tác của Đi Chung</p>
                                    <p><strong>2.</strong> Kiểm tra năng lực cung cấp dịch vụ (đối với tổ chức) và trình độ chuyên môn vận chuyển hành khách (đối với tài xế tham gia với tư cách cá nhân)</p>
                                    <p><strong>3.</strong> Ký hợp đồng hợp tác vận chuyển và chia sẻ doanh thu</p></div></div><div class="item col-sm-6"><h3 class="block-title text-center">Đối tượng tham gia</h3><div class="content"><p><strong>1.</strong> Các doanh nghiệp cung cấp dịch vụ vận chuyển chuyên nghiệp </p>
                                    <p><strong>2.</strong> Các tài xế có nhu cầu kiếm thêm thu nhập</p></div></div></div></div></div>
{% endblock %}