{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Về chúng tôi
{% endblock %}
{# End Nội dung trong block title #}

{% block content %}

<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-media col-12 col-md-6 col-media">
            <img class="w-100" src="/assets/frontend/img/ve-chung-toi/smiley.1uXgLZO.png" alt="smiley">
        </div>
        <div class="col-text col-12 col-md-6 bg-primary text-white">
            <div class="content p-5">
                <div>
                    <h1>Tầm nhìn</h1>
                    <p>Không dừng lại ở việc cung cấp chỉ một giải pháp công nghệ vận tải, Đi Chung còn khao khát tăng
                        tốc quá trình chuyển đổi của nền kinh tế Việt Nam sang phát triển bền vững, thân thiện với môi
                        trường.<br>“Tư duy chia sẻ” kéo mọi người lại gần nhau hơn với tầm nhìn chung về một thế hệ
                        tương lai tốt đẹp hơn.</p>
                </div>
            </div>
        </div>
        <div class="col-text col-12 col-md-6 bg-success text-white">
            <div class="content p-5">
                <div>
                    <h1>Sứ mệnh</h1>
                    <p>Đi Chung tin rằng mỗi người dân Việt Nam đều có quyền được tận hưởng 1 cuộc sống chất lượng hơn.
                        Bởi vậy, nền tảng công nghệ vận tải của chúng tôi luôn luôn hướng tới:<br>
                        &gt; Tối ưu hoá nguồn lực &amp; tài sản nhàn rỗi<br>
                        &gt; Tạo ra các loại hình dịch vụ dễ tiếp cận với mức chi phí phù hợp<br>
                        &gt; Giảm áp lực lên hạ tầng giao thông &amp; giảm ô nhiễm môi trường<br>
                        &gt; Hướng tới một cộng đồng tiêu dùng thông thái<br>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-media col-12 col-md-6">
        <img class="w-100" src="/assets/frontend/img/ve-chung-toi/cityscape.png" alt="cityscape">
        </div>
    </div>
</div>
<div class="block b-core-values" >
    <div class="block-header p-5" >
        <h2 class="block-title text-center">Giá trị cốt lõi</h2>
    </div>
    <div class="container-fluid" >
        <div class="row">
            <div class="item col-12 col-sm-6 col-md-4 bg-warning p-4 text-white" >
                <div class="wrap" >
                    <div>
                        <h5>Chủ động</h5>
                        <p>Chúng tôi đã từng là start up tiên phong cung cấp giải pháp vận tải thân thiện với môi
                            trường. Và đến nay, mỗi thành viên của chúng tôi đều mang trong mình tinh thần tiên phong
                            đó, luôn có tư duy độc lập, tinh thần làm chủ, và không ngại khó.</p>
                    </div>
                </div>
            </div>
            <div class="item col-12 col-sm-6 col-md-4 bg-success p-4 text-white" >
                <div class="wrap" wfd-id="498">
                    <div>
                        <h5>Hiệu quả</h5>
                        <p>Phương châm của chúng tôi là giảm thiểu tối đa lãng phí, tăng hiệu quả hoạt động bất cứ khi
                            nào có thể, cho chính chúng tôi, đối tác và cả khách hàng.</p>
                    </div>
                </div>
            </div>
            <div style="background-color:var(--yellow);" class="item col-12 col-sm-6 col-md-4 p-4 text-white">
                <div class="wrap" >
                    <div>
                        <h5>Quan tâm</h5>
                        <p>Chúng tôi luôn tự ý thức rằng mỗi hành động của mình đều gây ảnh hưởng đến xã hội xung quanh.
                            Chúng tôi quan tâm đến mọi tương tác xung quanh mình từ khách hàng, đối tác đến cả xã hội và
                            môi trường.</p>
                    </div>
                </div>
            </div>
            <div class="item col-12 col-sm-6 col-md-4 text-white p-4" style="background-color:var(--pink);" >
                <div class="wrap">
                    <div>
                        <h5>Tác động xã hội</h5>
                        <p>Không chỉ dừng lại mục tiêu về chỉ số kinh doanh, Đi Chung coi tác động xã hội là một chỉ số
                            quan trọng, kim chỉ nam cho thành công và tích cực đo lường nó.</p>
                    </div>
                </div>
            </div>
            <div class="item col-12 col-sm-6 col-md-4 text-white p-4" style="background-color:var(--cyan);">
                <div class="wrap">
                    <div >
                        <h5>Chia sẻ</h5>
                        <p>Chiến lược kinh doanh của chúng tôi xoay quanh tinh thần chia sẻ: chia sẻ không gian, chia sẻ
                            trải nghiệm, chia sẻ kinh tế. Với mỗi Dichunger, kiến thức không có tính giới hạn và sở
                            hữu.<br>Để cùng nhau tốt hơn. Together is better.</p>
                    </div>
                </div>
            </div>
            <div class="item col-12 col-sm-6 col-md-4 text-white p-4" style="background-color:var(--indigo);">
                <div class="wrap">
                    <div>
                        <h5>Bền bỉ</h5>
                        <p>Kiên trì theo đuổi mục tiêu tạo tác động xã hội trong bối cảnh kinh tế thị trường khắc nghiệt
                            là điều không dễ. Chúng tôi đã vượt qua những giai đoạn khó khăn nhất, đã làm được, và nhận
                            không ít khen ngợi từ cộng đồng. Đến hôm nay, các Dichunger vẫn tiếp tục cần mẫn nối dài
                            những cố gắng ấy, cho đến khi thành công.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="block-header text-center m-10">
        <h2 class="block-title">Đi Chung - 5 năm một chặng đường</h2>
        <div class="block-sub-title">Từ năm 2013 đến nay, Đi Chung đã có mặt tại hơn 40 thành phố, 20 sân
            bay khắp cả nước và mở rộng thị trường phục vụ sang các nước quốc tế như Nhật Bản, Trung Quốc, Nga, Hàn và
            các nước nói Tiếng Anh.</div>
    </div>
    <div class="block-body">
        <div class="line display_none_xs"></div>
        <div class="content" >
            <div class="container">
                <div class="row m-10">
                    <div class="col-media col-12 col-md-6">
                        <div class="wrap"><img class="w-50" src="/assets/frontend/img/ve-chung-toi/history-2013.svg" alt="cityscape"></div>
                    </div>
                    <div class="col-text col-12 col-md-6">
                        <h3>2013</h3>
                        <div>&gt; Thành lập trụ sở tại Hà Nội<br>
                        &gt; Triển khai dịch vụ không thu phí Đi chung xe cá nhân<br>
                        &gt; Giải thưởng cho Doanh nghiệp xã hội xuất sắc do CSIP tài trợ
                    </div>
                </div>
                <div class="row" >
                    <div class="col-media col-12 col-md-6" >
                        <div class="wrap" ><img src="/static/images/history-2014.1hqguxS.svg"
                                alt="Năm 2014"></div>
                    </div>
                    <div class="col-text col-12 col-md-6" >
                        <h3>2014</h3>
                        <div >&gt; Thương mại hóa Dichungtaxi.com<br>
                            &gt; Đạt giải SEED Award for Low Carbon của UNDP</div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-media col-12 col-md-6" >
                        <div class="wrap"><img src="/static/images/history-2015.3caL1IV.svg"
                                alt="Năm 2015"></div>
                    </div>
                    <div class="col-text col-12 col-md-6">
                        <h3>2015</h3>
                        <div >&gt; Mở rộng dịch vụ ra 20 sân bay &amp; 40 tỉnh thành<br>
                            &gt; Đạt giải “Khởi nghiệp sáng tạo ứng phó với biến đổi khí hậu” của Trung tâm đổi mới sáng
                            tạo ứng phó với biến đổi khí hậu Việt Nam (VCIC) - Bộ Khoa học và Công nghệ (MOST) và Ngân
                            hàng Thế giới (The World Bank)<br>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-media col-12 col-md-6" >
                        <div class="wrap" ><img src="/static/images/history-2016.3_TQLH-.svg" height="170"
                                alt="Năm 2016"></div>
                    </div>
                    <div class="col-text col-12 col-md-6" >
                        <h3>2016</h3>
                        <div >&gt;Mở rộng hợp tác với các OTA lớn trong &amp; ngoài nước<br>
                            &gt; Top 5 Startup cuộc thi Khởi nghiệp Du lịch vùng Mekong (MIST)</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-media col-12 col-md-6" >
                        <div class="wrap" ><img src="/static/images/history-2017.2kg9JsF.svg"
                                alt="Năm 2017"></div>
                    </div>
                    <div class="col-text col-12 col-md-6" >
                        <h3>2017</h3>
                        <div >&gt; Thành lập chi nhánh TP Hồ Chí Minh &amp; Đà Nẵng<br>
                            &gt; Đạt giải thưởng Én xanh</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-media col-12 col-md-6" >
                        <div class="wrap"<img src="/static/images/history-2018.3L_owDg.svg"
                                alt="Năm 2018"></div>
                    </div>
                    <div class="col-text col-12 col-md-6" >
                        <h3>2018</h3>
                        <div wfd-id="451">&gt; Hình thành hệ sinh thái Chia sẻ<br>
                            &gt; Top 5 Cuộc thi khởi nghiệp du lịch TP HCM (HIST)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-footer text-center d-none" >
        <h2 class="block-title">Sau năm 2018</h2>
        <p class="block-sub-title">We see the path to accomplish our vision is to create a seamless transportation
            experience for our customer by connecting distributed resources from different suppliers. Thus allowing our
            customers to enjoy better transportation experience more often and our suppliers to be more efficient. We
            also shed light on the negative impact of transportation, making it more visible to consumer, encourage them
            to be more self aware of their action and helping them make changes for a better future.</p>
    </div>
</div>
{% endblock %}
