<div id="{{ el }}" data-user="{{ data }}">
  <div class="mb-3">
    <b-button size="sm" :href="`${url}/them.php`" variant="primary">Thêm mới</b-button>
    <b-button size="sm" :href="`${url}/nhap.php`">Nhập dữ liệu</b-button>
    <b-button size="sm" :href="`${url}/xuat.php`">Xuất dữ liệu</b-button>
  </div>

  <b-form>
    <b-row>
      <b-col md="6">
        <b-form-group label="Sắp xếp" label-size="sm" label-for="sortBySelect">
          <b-row no-gutters>
            <b-col xl="8" class="pr-xl-1 mb-2 mb-xl-0">
              <b-input-group size="sm">
                <template v-slot:prepend>
                  <b-input-group-text class="group-icon">
                    <i class="fas fa-sort-amount-down-alt"></i>
                  </b-input-group-text>
                </template>
                <b-form-select v-model="sortBy" id="sortBySelect" size="sm" :options="options" class="w-75">
                  <template v-slot:first>
                    <option value="">-- Không sắp xếp --</option>
                  </template>
                </b-form-select>
              </b-input-group>
            </b-col>
            <b-col xl="4">
              <b-input-group size="sm">
                <template v-slot:prepend>
                  <b-input-group-text class="group-icon">
                    <i class="fas fa-random"></i>
                  </b-input-group-text>
                </template>
                <b-form-select v-model="sortDesc" size="sm" :disabled="!sortBy">
                  <option :value="false">Tăng dần</option>
                  <option :value="true">Giảm dần</option>
                </b-form-select>
              </b-input-group>
            </b-col>
          </b-row>
        </b-form-group>
      </b-col>
      <b-col md="6">
        <b-form-group label="Phân trang" label-size="sm" label-for="perPageSelect">
          <b-row no-gutters>
            <b-col xl="4" class="pr-xl-1 mb-2 mb-xl-0">
              <b-input-group size="sm">
                <template v-slot:prepend>
                  <b-input-group-text class="group-icon">
                    <i class="fas fa-list-ol"></i>
                  </b-input-group-text>
                </template>
                <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
              </b-input-group>
            </b-col>
            <b-col xl="8">
              <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill" size="sm" class="my-0">
                <template v-slot:first-text>
                  <i class="fas fa-angle-double-left"></i>
                </template>
                <template v-slot:prev-text>
                  <i class="fas fa-angle-left"></i>
                </template>
                <template v-slot:next-text>
                  <i class="fas fa-angle-right"></i>
                </template>
                <template v-slot:last-text>
                  <i class="fas fa-angle-double-right"></i>
                </template>
              </b-pagination>
            </b-col>
          </b-row>
        </b-form-group>
      </b-col>
    </b-row>

    <b-form-group label="Tìm kiếm" label-size="sm" label-for="filterInput">
      <b-input-group size="sm">
        <template v-slot:prepend>
          <b-input-group-text class="group-icon">
            <i class="fas fa-search"></i>
          </b-input-group-text>
        </template>
        <b-form-input v-model="filter" id="filterInput"></b-form-input>
        <b-input-group-append>
          <b-button :disabled="!filter" @click="filter = ''" class="group-icon">
            <i class="fas fa-times"></i>
          </b-button>
        </b-input-group-append>
      </b-input-group>
    </b-form-group>
  </b-form>

  <div class="mb-3" v-if="notes">
    <label>Chú thích</label>
    <div class="d-flex align-items-center">
      <div class="rounded border border py-1 px-2 mr-2" :class="note.class" v-for="note in notes" :key="note.bg">
        ${ note.content }
      </div>
    </div>
  </div>

  <p class="mb-3">
    Đang hiển thị từ ${ currentPage * perPage - perPage + 1 }
    đến ${ currentPage * perPage > totalRows ? totalRows : currentPage * perPage }
    trong tổng số ${ totalRows } dòng
  </p>

  <b-table bordered head-variant="light" show-empty small stacked="md" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage"
           :filter="filter" :filterIncludedFields="filterOn" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc" @filtered="onFiltered" :tbody-tr-class="rowClass"
           empty-filtered-text="Không tìm thấy dữ liệu" label-sort-asc="Nhấn vào đây để sắp xếp tăng dần" label-sort-desc="Nhấn vào đây để sắp xếp giảm dần"
           label-sort-clear="Nhấn vào đây để xóa sắp xếp" empty-text="Không có dữ liệu">
    <template v-slot:cell(actions)="row">
      <b-button size="sm" @click="info(row.item, row.index, $event.target)">
        <i class="fas fa-code"></i>
      </b-button>
      <b-button size="sm" @click="row.toggleDetails">
        <i class="fas" :class="row.detailsShowing ? 'fa-eye-slash' : 'fa-eye'"></i>
      </b-button>
      <b-button size="sm" :href="`${url}/sua.php?id=${row.item.id}`" variant="primary">
        <i class="fas fa-edit"></i>
      </b-button>
      <b-button size="sm" @click="deleteRow(row.item.id)" variant="danger">
        <i class="fas fa-trash"></i>
      </b-button>
    </template>

    <template v-slot:row-details="row">
      <b-card>
        <ul>
          <div v-for="(value, key) in row.item" :key="key">
            <li v-if="!(key[0] == '_' || getLabel(key) == null)">
              <b>${ getLabel(key) }:</b> ${ value }
            </li>
          </div>
        </ul>
      </b-card>
    </template>
  </b-table>

  <b-container class="p-0">
    <b-pagination v-model="currentPage" :total-rows="totalRows" :per-page="perPage" align="fill" size="sm">
      <template v-slot:first-text>
        <i class="fas fa-angle-double-left"></i>
      </template>
      <template v-slot:prev-text>
        <i class="fas fa-angle-left"></i>
      </template>
      <template v-slot:next-text>
        <i class="fas fa-angle-right"></i>
      </template>
      <template v-slot:last-text>
        <i class="fas fa-angle-double-right"></i>
      </template>
    </b-pagination>
  </b-container>

  <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
    <pre class="mb-0">${ infoModal.content }</pre>
  </b-modal>
</div>
