
@{
    ViewBag.Title = "Order Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-section hero-background">
    <h1 class="page-title">JustBuy</h1>
</div>

<div class="container">
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a href="~/home" class="permal-link">Home</a></li>
            <li class="nav-item"><a href="#" class="permal-link">Shopping Cart</a></li>
            <li class="nav-item"><a href="#" class="permal-link">Checkout</a></li>
            <li class="nav-item"><a href="#" class="permal-link">Success</a></li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="alert alert-success">
            <strong>Success!</strong> Congratulations! You have successfully ordered. We will ship your order as soon as possible.
        </div>
    </div>
</div>

