
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Hero Section-->
<div class="hero-section hero-background">
    <h1 class="page-title">Organic Fruits</h1>
</div>

<!--Navigation section-->
<div class="container">
    <nav class="biolife-nav">
        <ul>
            <li class="nav-item"><a href="index-2.html" class="permal-link">Home</a></li>
            <li class="nav-item"><span class="current-page">About us</span></li>
        </ul>
    </nav>
</div>

<div class="page-contain about-us">

    <!-- Main content -->
    <div id="main-content" class="main-content">

        <div class="welcome-us-block">
            <div class="container">
                <h4 class="title">Welcome to Just Buy!</h4>
                <div class="text-wraper">
                    <p class="text-info">
                        For the last ten years, ’Just Buy’ has been that specialize in producing camera phones, whereas innovating mobile photography technology breakthroughs.

                        </br></br>Just Buy started the age of selfie change of state, and was the primary whole to launch smartphones with 5MP and 16MP front cameras.

                        </br></br>Just Buy was conjointly the primary whole to introduce the motorized rotating camera, the immoderate HD feature and also the 5x twin Camera Zoom technology.

                        </br></br>In 2017, ’Just Buy’ was graded because the range four smartphone whole globally, consistent with IDC. And today,’Just Buy’ provides glorious smartphone photography experiences to over two hundred million tykes round the world.
                    </p>
                    <p class="qt-text">“Just Buy - Technology for Life - Good Products to Buy.”</p>
                </div>
            </div>
        </div>
    </div>
</div>

