@{ 
    var listCate = (List<TheNight_JustBuy.Models.Category>)ViewBag.Category;
    var listSup = (List<TheNight_JustBuy.Models.Supplier>)ViewBag.Brand;
}
<aside id="sidebar" class="sidebar col-lg-3 col-md-4 col-sm-12 col-xs-12">
    <div class="biolife-mobile-panels">
        <span class="biolife-current-panel-title">Sidebar</span>
        <a class="biolife-close-btn" href="#" data-object="open-mobile-filter">&times;</a>
    </div>
    <div class="sidebar-contain">
        <div class="widget biolife-filter">
            <h4 class="wgt-title">Categories</h4>
            <div class="wgt-content">
                <ul class="cat-list">
                    @foreach (var item in listCate)
                    {
                        <li class="cat-list-item"><a href="@Url.Action("Index", "Items", new {id = item.CategoryID })" class="cat-link">@item.CategoryName</a></li>
                    }
                    </ul>
            </div>
        </div>

        <div class="widget biolife-filter">
            <h4 class="wgt-title">Brand</h4>
            <div class="wgt-content">
                <ul class="cat-list">
                    @foreach (var item in listSup)
                    {
                        <li class="cat-list-item"><a href="@Url.Action("Index", "Brand", new {id = item.SupplierID })" class="cat-link">@item.CompanyName</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

</aside>
