<div id="biolife-newsletter-popup" class="modal fade biolife-popup biolife-newsletter-popup-contain" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span class="biolife-icon icon-close-menu"></span></button>
                <div class="newsletter-block popup-layout newsletter-block_popup-layout">
                    <div class="inner-content">
                        <div class="wrap-title">
                            <span class="sup-title">Sign up to get up to</span>
                            <h3 class="newslt-title">50<sup>%</sup> off</h3>
                        </div>
                        <div class="form-content">
                            <form action="#" name="new-letter-foter" method="post">
                                <input type="email" class="input-text email" value="" placeholder="Your email here...">
                                <button type="submit" class="bnt-submit" name="ok">Get up to 50% off</button>
                                <a href="javascript:void(0)" class="close dismiss-newsletter" data-dismiss="modal">No thank. I’ll let this deal fly away</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
