<!doctype html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/assets/shared/ico/logo.ico">

  <link rel="stylesheet" href="/assets/shared/css/custom.bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" type="text/css" />
  <link rel="stylesheet" href="/assets/shared/css/scroll.css" type="text/css" />

  <title>
    Onsite Web Job -
    {% block title %}{% endblock %}
  </title>

  {% block customstyles %}{% endblock %}
</head>

<body>
  {% include 'frontend/layouts/includes/header.html.twig' %}

  <main role="main" class="wrapper">
    {% block content %}{% endblock %}
  </main>

  {% include 'frontend/layouts/includes/footer.html.twig' %}

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/assets/frontend/js/scroll.js"></script>

  {% block customscripts %}{% endblock %}
</body>

</html>
